<ion-view view-title="Details" ng-controller="FeedDetailsCtrl as vm">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap item-icon-left">
        <i class="icon ion-home"></i>
        <h2 ng-repeat="line in vm.business.location.display_address">
          {{ line }}
        </h2>
      </div>
    </div>

    <div class="card">
      <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" draggable="true" options="vm.map.options">
        <ui-gmap-marker idKey="vm.business.id" coords="vm.marker.center" options="vm.marker.options"></ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </ion-content>
</ion-view>